<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2000-2023 TeamDev. All rights reserved.
  ~ TeamDev PROPRIETARY and CONFIDENTIAL.
  ~ Use is subject to license terms.
  -->

<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT" level="INFO"/>
        </Root>
    </Loggers>
</Configuration>
