<!--
  ~ Copyright (c) 2000-2026 TeamDev. All rights reserved.
  ~ TeamDev PROPRIETARY and CONFIDENTIAL.
  ~ Use is subject to license terms.
  -->

<Configuration>
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %t %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.spine.delivery.server" level="TRACE" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>
